<h1>Contact</h1>

<h1>Contact Us</h1>

<%= flash[:notice] %>

<%= form_with(url: "/simple_pages/thank_you") do |form| %>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control", placeholder: "Enter Name" %>
      </div>        
      <div class="form-group">
        <%= form.label :email, "Email Address" %>
        <%= form.text_field :email, class: "form-control", placeholder: "Enter Email" %>
      </div>
      <div class="form-group">
        <%= form.label :message %>
        <%= form.text_area :message, class: "form-control", placeholder: "Enter Message" %>
      </div>        
    </div>
  </div>
  <%= form.submit "Send" %>   
<% end %>

<div>
  <p>Bike Shop Berlin</p><br>
  <p>Berlin, Germany</p><br>
  <P>P: +49 56 78 34 00 02</P><br>
  <p>E: shop@bikeberlin.com</p><br>
</div>
