// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: #0088B7; //deep sky blue
}

h2 {
	margin-top: 50px;
	text-align: center;
	color: yellow;
}

h1 {
	font-family: Helvetica;
	color: yellow;
	text-align: center; 
}

#product-page-head {	
	margin-top: 75px;
}

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: yellow;
	//text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	&:hover {
		color: white;
		text-decoration: none;
	}
}

#login {
	margin-top: 16px;
	margin-right: 10px;
	color: white;
}


#q {
	margin-top: 12px;
}

strong {
	color: yellow;
}

input {
	border: solid 2px yellow;
	background-color: black;
}

li {
	color: yellow;
}

field {
	margin-top: 250px;
}

a {
	color: yellow; //this does not work
}

footer {
	color: yellow;
}

.actions {
	color: yellow;
	text-align: center;
}

.field {
	text-align: center;
}




