
<p id="notice"><%= notice %></p>

<h1 id="product-page-head">Products</h1>

<div class="container-fluid">
  <div class="row">
  <%# @products.each do |product| %>
    <%= render @products %>
  <%# end %>
  </div>
</div>
  