<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Bike Berlin", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", 'simple_pages/index'%></li>
        <li><%= link_to "About", 'about'%></li>
        <li><%= link_to "Contact", 'contact'%></li>
        <li><%= form_with(url: products_path, method: 'get', local: true) do |form| %>
    <%= form.label :q, 'Search for:' %>
    <%= form.text_field :q, id: 'q', value: params[:q] %>
    <%= form.submit 'Search' %>
    <% end %></li>
      </ul>
      <ul class="nav pull-right">
        <div id="login">
          <li>
            <% if user_signed_in? %>
              <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
            <% else %>
              <%= link_to('Login', new_user_session_path) %>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

